<input class="cerca" [(ngModel)]="value"> <button class="buttonEdit" (click)="cercaGame()"> cerca</button>


<div class="detail" *ngIf="game">

    <div class="image">
        <img class="image_games" src="{{game.url}}" alt="">
    </div>
    <div class="text">Titolo : {{game.name}}</div> <input class="editText" type="text" [(ngModel)]="valNome"> <br>
    <div class="text">Genere : {{game.description}}</div> <input class="editText" type="text" [(ngModel)]="valDes"><br>
    <div class="text">Prezzo: {{game.price}}</div> <input class="editText" type="text" [(ngModel)]="valPrice"><br>

    <button class="buttonEdit" (click)="editGame(game.id)"> conferma</button>
</div>