.text {
    width: 30.17%;
    float: left;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    height: 90px;
    color: white;
    background-color: rgb(58, 58, 133);
    margin-top: 200px;
}

#footer {
    margin-top: 200px;
}