#footer {
    color: white;
    background-color: rgb(58, 58, 133);
    margin-top: 120px;
    width: 90%;
    margin-left: 5%;
    height: 90px;
}

.text {
    width: 33%;
    float: left;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}