<div class="home_site">

    <div class="home_img">
        <img src="../assets/Steam-logo.png" alt="">

    </div>


    <div class="home_text">

        <h1>I migliori giochi da sempre</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa ratione vel, perspiciatis impedit dolores obcaecati illum quae tempore asperiores, perferendis omnis recusandae laboriosam eum quaerat beatae enim quod dolorum distinctio consequatur
            iste. Nostrum ad itaque nam animi, ab est architecto odio? Doloribus, porro maiores! Aut, perspiciatis consequuntur! Tenetur, aliquid rerum!</p>
    </div>

</div>